
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    

    <title>Index</title>
</head>
<body>

    <div class="container">

        <div class="page-header">
            <h1>Azure Demo</h1>
        </div>

        <form class="form-inline" novalidate id="fetch-user-form">
            <div class="form-group">
                <label class="sr-only" for="region-field">Region</label>
                <div class="input-group">
                    <div class="input-group-addon">Region</div>
                    <input type="text" class="form-control" id="region-field" placeholder="Enter region. Ex. india/china">
                </div>
            </div>
            <button type="submit" class="btn btn-success">Process message</button>
            <button type="button" class="btn btn-danger" id="btn-clear-messages">Clear message</button>
        </form>

        <div id="message-list">

        </div>

    </div>

    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/js/home.js"></script>
</body>
</html>
